body {
  padding: 0;
  margin: 0;
  background-color: white;
}

/* Intro page */
.introPage {
  height: 100vh;
  padding-top: 10px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.delay1 {
  animation-delay: 0.5s;
}

.introPage h1, .introPage h2 {
  color: black;
}

.introPage h2{
  color: #ff3c00;
}

.introPage h1 {
  margin-top: 30vh;
  margin-bottom: 10px;
  font-size: 10rem;
}

.introPage h2 {
  font-size: 3rem;
}

/* offerPage */
.offerPage{
  background-color: white;
  text-align: center;
  padding: 0 150px 150px 150px;
}

.icon-color {
  color: #ff3c00;
}


.header-container {
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.offerPage h2 {
  font-size: 2.5rem;
  font-weight: 400;
  background-size: 500px;
  -webkit-background-clip: text;
  background-clip: text;
  color: black;
  /* Ensure the text is aligned and positioned properly */
  position: relative;
}

.offercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  color: blacks;
  text-align: left;
}

.offercontainer .offer {
  flex: 1;
  margin: 0 10px;
}

.offer{
  min-width: 300px;
  max-width: 400px;
}

.offer h3{
  font-size: 30.46px;
}

.offer p{
  font-weight: 200;
  font-size: 20px;
}

.offercontainer .offer:first-child {
  margin-left: 0;
}

.offercontainer .offer:last-child {
  margin-right: 0;
}

/* projects */
.projectsPage{
  background-color: white;
  text-align: center;
  padding: 0vh;
}

.projectsPage a{
  text-decoration: none;
}

.projectsPage > h2 {
  margin-top: 15vh;
  font-size: 3.5rem;
  font-weight: 500;
  background-size: 500px;
  -webkit-background-clip: text;
  background-clip: text;
  color: black;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0 150px 0 150px;
  justify-content: center;
  text-align: left;
}

.project-card {
  position: relative; /* Ensure the pseudo-element is positioned relative to the card */
  overflow: hidden;
  width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-link {
  display: block;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: grayscale(70%); /* Make the image black and white */
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for both transform and filter */
}

.project-card:hover .project-image {
  transform: scale(1.05);
  filter: grayscale(0%); /* Return to color on hover */
}

/* Add the line under the image on hover */
.project-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #ff4500; /* Red-orange color */
  transition: width 0.3s ease; /* Smooth transition for the line */
}

.project-card:hover::after {
  width: 100%; /* Expand the line to full width on hover */
}



.project-info {
  padding: 10px;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: left;
  color: #333;
}

.project-bio {
  font-size: 0.9rem;
  margin-bottom: 16px;
  margin-top: 0;
  color: #666;
}

/* Who are we page */
.who-are-we-page {
  background-color: white;
  text-align: center;
  padding: 90px 30vw 150px;
}

.who-are-we-page h2{
  margin-top: 0;
  font-size: 3.5rem;
  font-weight: 400;
  background: url('../public/img/liquid-fade.png') no-repeat center center;
  background-size: 500px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.who-info{
  text-align: left;
}

.who-info .img-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.who-info .img-container div{
  margin: 20px auto;
  border: solid red 1px;
  min-width: 275px;
  min-height: 300px;
}

/* Contact us page */
.contact-us-page {
  background-color: rgb(9, 9, 11);
  background-image: url('../public/img/purpleFlower.png');
  background-size: 45%;
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
  padding: 7vh 30vw 150px;
}

.contact-us-page h2{
  margin-top: 0;
  font-size: 3.5rem;
  font-weight: 400;
  background: url('../public/img/liquid-fade.png') no-repeat center center;
  background-size: 500px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contact-us-page div{
  background-color: white;
  width: 80%;
  margin:  0 auto;
}

.contact-us-page div form{
  width: 60%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 15px 0 35px 0;
}

.contact-us-page div form input{
  width: 100%;
  height: 40px;
  background-color: rgb(237, 237, 237);
  border: none;
}

.contact-us-page div form textarea{
  width: 100%;
  background-color: rgb(237, 237, 237);
  border: none;
}

.contact-us-page div form label{
  display: block;
  margin-top: 30px;
}

/* Footer */
footer{
  background-color: rgb(233, 233, 233);
  padding: 20px 150px 20px 150px;
  text-align: center;
}

.socials{
  width: 30%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.socials div{
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 60px;
}

footer ul{
  width: 50%;
  list-style: none;
  margin: 0 auto;
}

footer ul li{
  font-weight: 300;
  margin: 5px;
}

footer ul li span{
  font-weight: 500;
}

/* New Section with Orange Panel and Laptop */
.panel {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateZ(0); /* Trigger GPU acceleration */
  will-change: transform, opacity; /* Optimize for future changes */
}

.orangeWrapper,
.orange {
  backface-visibility: hidden; /* Prevents flickering */
  perspective: 1000px; /* Ensures smooth 3D transformations */
}

.orangeWrapper {
  padding: 0;
  overflow: hidden;
  position: relative;
}

.orange {
  background-image: url('./work.jpg'); /* Path to your laptop image */
  background-size: cover; /* Ensures the image covers the element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1150px;
  height: 650px;
  position: absolute;
  top: 120px;
  z-index: 1;
}

.screen-wrapper h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
}
.screen-wrapper h2 span{
  
  color: #ff3c00;
}
.screen {
  height: 600px;
  width: 740px;
  position: absolute;
  top: 205px;
  left: 50vw;
  transform: translateX(-50%);
  background-image: url('./mac.png'); /* Path to your laptop image */
  background-size:contain; /* Ensures the image covers the element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  z-index: 0;
}

.line {
  width: 100%;
  max-width: 800px;
  height: 8px;
  margin: 0 0 10px 0;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
}

.devices-wrapper {
  background-color: white;
  display: flex;
  justify-content: center; /* Center align the devices horizontally */
  gap: 20px; /* Space between the devices */
}
